

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'Noto Serif KR', sans-serif; */
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
}

a:not(:hover) {
    text-decoration: none;
}

ul {
    margin: 0;
}

nav,
main,
footer {
    box-sizing: border-box;
}

nav {
    width: 360px;

    display: flex;
    flex-direction: column;
    flex: none;
    padding: 64px 80px 140px;
}

#nav_head {
    display: flex;
    flex-direction: row;
    flex: none;
    font-family: 'Noto Sans KR', sans-serif;
}

#nav_head > li:not(:first-child) {
    margin-left: 32px;
}

#nav_main_anchors {
    height: 0px;

    display: flex;
    flex-direction: column;
    flex: 1 1 0px;

    font-family: 'Noto Serif KR', sans-serif;
}

#nav_main_anchors > li {
    font-size: 32px;
    font-weight: 900;
}

#nav_main_anchors > li:first-child {
    margin-top: auto;
}

#nav_main_anchors > li:not(:first-child) {
    margin-top: 32px;
}

#nav_main_anchors > li:last-child {
    margin-bottom: auto;
}

#nav_sub_anchors {
    flex: none;
    font-family: 'Noto Sans KR', sans-serif;
}

#nav_sub_anchors > li {
    font-size: 13px;
    color: #888888;
}

#nav_sub_anchors > li:not(:first-child) {
    margin-top: 16px;
}

main {
    width: 0px;

    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    padding-left: 280px;

    font-family: 'Noto Serif KR', sans-serif;
}

main > p {
    margin: auto 0;
    font-size: 48px;
    text-align: right;
    font-weight: 900;
}

main > p > span {
    display: block;
    margin-bottom: 32px;
    font-size: 70px;
    opacity: 0.7;
}

footer {
    max-width: 380px;

    display: flex;
    flex-direction: column;
    flex: none;
    padding: 64px 80px 140px;
}

h1 {
    height: 256px;

    display: flex;
    flex-direction: column;
    flex: none;
    margin: 0;
}

h1 > a {
    width: 70px;
    height: 90px;

    display: block;
    margin: auto;

    background-color: black;

    color: transparent;
    font-size: 0px;
    line-height: 0px;
    user-select: none;
}

footer [data-depth="0"] {
    height: 0px;

    display: flex;
    flex-direction: column;
    flex: 1 1 0px;

    font-family: 'Noto Sans KR', sans-serif;
}

footer [data-depth="0"] > li {
    flex: none;
}

footer [data-depth="0"] > li:not(:first-child) {
    margin-top: auto;
}

footer [data-depth="1"] > li:not(:first-child) {
    margin-top: 32px;
}

footer [data-depth="2"] > li:not(:first-child) {
    margin-top: 8px;
}

footer li > p {
    margin: 0;
    font-size: 11px;
}

footer li > p:first-child {
    color: #888888;
    font-weight: 500;
    line-height: 1.2rem;
}

